/* General Reset */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  animation: slideDown 1s ease-out forwards;
  transform: translateY(-100%);
}

@keyframes slideDown {
  to {
      transform: translateY(0);
  }
}

/* Navigation Animation */
.nav-links {
  animation: slideIn 1s ease-out forwards;
  transform: translateX(-100%);
}

@keyframes slideIn {
  to {
      transform: translateX(0);
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}

/* Body Styling */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
}

/* Header Styling */
header {
  background-image: url('place.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

.main-heading {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #ffffff;
}

/* Navigation Styling */
/* Base styles */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  position: relative;
  top: 15px; 
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  height: 3px;
  width: 25px;
  background: rgb(255, 255, 255);
  margin: 4px 0;
  transition: 0.4s;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .hamburger-menu {
      display: flex;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 15px 0;
  }

  .main-heading {
    font-size: 3rem; /* Reduce the font size for the main heading */
  }

  .card, .reverse-card {
    flex-direction: column-reverse; /* Stack image below text */
    text-align: center;
  }

  .card-text, .reverse-card .card-text {
    font-size: 16px; /* Adjust the font size for card text */
  }

  .card-image, .reverse-card .card-image {
    text-align: center;
  }

  .card-image img, .reverse-card .card-image img {
    max-width: 100%;
    margin-top: 20px; /* Add space between text and image */
  }
}

/* Card Styling */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1a481;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}

.card-text {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 7px;
}

.card-image {
  flex: 1;
  text-align: right;
}

.card-image img {
  max-width: 100%;
  border-radius: 10px;
}

/* Reverse Card Styling */
.reverse-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1a481;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  flex-direction: row-reverse;
}

.reverse-card .card-text {
  text-align: center;
  flex: 1;
  font-size: 25px;
}

.reverse-card .card-image {
  flex: 1;
  text-align: left;
}

.reverse-card .card-image img {
  max-width: 100%;
  border-radius: 10px;
}


/*footer styling*/
footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Default text color for the footer */
  padding: 20px 0; /* Padding for the footer */
  text-align: center; /* Center align the text */
}

.footer-content {
  max-width: 1200px; /* Maximum width for the footer content */
  margin: 0 auto; /* Center the footer content */
  padding: 0 20px; /* Padding for the footer content */
}

.footer-text {
  font-size: 14px; /* Font size for the footer text */
  color: #ffffff; /* Change the text color to red */
  margin-bottom: 10px; /* Margin below the footer text */
}

.social-media {
  display: flex; /* Display the social media icons in a row */
  justify-content: center; /* Center the social media icons */
  gap: 10px; /* Space between the social media icons */
}

.social-media a img {
  width: 24px; /* Width of the social media icons */
  height: 24px; /* Height of the social media icons */
}